.posted1{
    display: flex;
    flex-direction: column;
    padding: 5px;
    top: 1%;
    left: 5%;
    width: 90%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #888888;
    text-align: center;
    min-height: 150px;
    height: auto;
    margin-top: 2%;
}
.post-style{
    width: auto;
    position: relative;
    text-align: start;
    left: 10%;
    margin-top: 1%;
    font-size: 20px;
}
.dp-style{
    width: 45px;
    height: 45px;
    outline-width: 3px;
    border-radius: 50%;
    left: 2%;
    top: 5%;
    vertical-align: middle;
    justify-content: center;
    outline-color: #4267B2;
    outline-style: solid;
    position: absolute;
    cursor: pointer;
    transition: 00.55s ease;
}
.dp-style:hover{
    transform: scale(1.08);
}
.posted_time{
    position: relative;
    text-align: start;
    left: 3%;
    top: -10px;
    font-size: 11px;
    font-weight: 500;
}
.post-option1{
color: #888888;
width: auto;
position: relative;
text-align: end;
left: 85%;
top: -70%;
right: 2%;
font-size: 30px;
padding-bottom: 0px;
cursor: pointer;
transition: 0.15s linear;
}
.post-option1:hover{
color: #4267B2;
}
.like-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-attributes1{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: 30px;
    margin-bottom: 2%;
}
.post-attributes1:hover{
    background-color: #88888849;
    border-radius: 10px;
}
.likeandcomment{
    color: #585858;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
    transition: 0.25s ease;
}
.likeandcomment:hover{
    background-color: #88888849;
    border-radius: 10px;
}

.like_text{
    font-weight: 600;
    font-size: 18px;
    margin-left: 5%;
    cursor: pointer;
}
.post-content{
    text-align: left;
    justify-content: left;
    margin-top: -70px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 2%;
    margin-bottom: 3%;
}
.commentbox-div{
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.dp-style1{
    width: 30px;
    height: 30px;
    outline-width: 3px;
    border-radius: 50%;
    left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    vertical-align: middle;
    justify-content: center;
    outline-color: #4267B2;
    outline-style: solid;
    position: relative;
    cursor: pointer;
    transition: 00.55s ease;
}
.dp-style1:hover{
    transform: scale(1.08);
}
.commentbox{
    left: 1px;
    width: 75%;
    height: 30px;
    margin-top: -7%;
    margin-left: 8%;
    margin-bottom: 2%;
    border: none;
    background-color: #e6e6e6;
    border-radius: 8px;
    position: relative;
    outline: 0px;
    font-weight: 600;
    transition: 0.15s ease;
}
.commentbox:hover{
    background-color: #d3d1d1;
}
.commentbox:focus{
    background-color: #f8f6f6;
    box-shadow: 0px 1px 5px #888888;
}
.comment-button{
    left: 5px;
    margin-bottom: 2%;
    margin-left: 84%;
    margin-top: -7%;
    position: relative;    
    width: 15%;
    text-align: center;
    height: 30px;
    background-color: #4267B2;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0px 3px 8px #888888;
    transition: 0.15s linear;
}
.comments-div{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 5%;
    position:relative;
}   
.comment-text{
    background-color: #e2e2e2;
    font-size: 15px;
    left: 4%;
    font-weight: 600;
    position: relative;
    min-width: 100px;
    width: max-content;
    min-height: 20px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    text-align:left;
}
.dp-style2{
    width: 30px;
    height: 30px;
    outline-width: 3px;
    border-radius: 50%;
    left: 2%;
    vertical-align: middle;
    justify-content: center;
    outline-color: #4267B2;
    outline-style: solid;
    position: relative;
    cursor: pointer;
    transition: 00.55s ease;
}
.dp-style2:hover{
    transform: scale(1.08);
}
.comment-like{
    color: #888888;
    position: relative;
    margin-top: -4px;    
    /*left: -36%;*/
    font-size: 12px;
    cursor: pointer;
    transition: 0.15s linear;
}
.comment-liked{
    color: #4267B2;
    position: relative;
    margin-top: -4px;    
    /*left: -36%;*/
    margin-right: 25%;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s ease;
}
.like-count{
    color: #4267B2;
    position: relative;
    margin: 0px;
    bottom: 0px;
    left: 22px;
    top: -15px;
}
.comment-close{
    position: relative;
    text-align: right;
    font-size: 20px;
    margin-top: -9%;
    margin-bottom: 5%;
    color: #4267B2;
}
.comment-delete{
    color: #888888;
    position: relative;
    margin-top: -4px;    
    margin-left: 60%;
    font-size: 12px;
    cursor: pointer;
    transition: 0.15s linear;
}
.comment-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    max-width: 30px;
    left: 18%;
    top: 110%;
}
.comment-edit{
    color: #888888;
    position: relative;
    margin-top: -4px;    
    font-size: 12px;
    left: 30%;
    cursor: pointer;
    transition: 0.15s linear;
}
.edit-section{
    display: flex;
    flex-direction: column;
}
.comment-delete{
    transition: .15s ease;
}
.comment-delete:hover{
    color: #4267B2;
}
.comment-edit{
    transition: .15s ease;
}
.comment-edit:hover{
    color: #4267B2;
    font-weight: 600;
}
/*.icon-styling{
    color: #585858;
    font-size: 20px;
    margin-left: 5%;
    cursor: pointer;
}
.icon-styling:hover{
    background-color: #88888849;
    border-radius: 10px;
}*/

.likencomment{
    color: #585858;
    font-size: 23px;
    left: 5%;
}
.likencomment1{
    font-weight: 600;
    color: #585858;
    align-items: center;
    position: relative;
    left: 5%;
    font-size: 15px; 
}

.delete-post{
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  transition: 0.25s ease;
}
.delete-post:hover{
    background-color: #cfcdcd;
}
.mydrop{
    display: none;
    border-radius: 2px;
    position: relative;
    background-color: #f3f1f1;
    min-width: 130px;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.25s linear;
  }
  .edit-post{
    color: black;
    padding: 12px 16px;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: 0.25s ease;
  }
  .edit-post:hover{
      background-color: #cecece;
  }
  .show{
      display:block;
      left: -105px;
      border-radius: 2px;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 130px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
.edit-div{
    display: flex;
    flex-direction: column;
    padding: 5px;
    top: 1%;
    left: 5%;
    width: 90%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #888888;
    text-align: center;
    min-height: 200px;
    height: auto;
    margin-top: 2%;
    z-index: 100;
    transition: 0.25s ease;
}
.post-edit-box{
    width: 100%;
    height: 120px;
    margin-bottom: 2%;
    max-height: 80%;
    border-radius: 10px;
    outline: 0px;
    border-width: 0px;
    background-color: #f3f3f3;
    text-align: left;
    font-size: 25px;
}
.post-button1{
    color: white;
    top: 2%;
    background-color: #4267B2;
    outline: solid;
    outline-width: 1px;
    width: 100%;
    height: 40px;
    border-radius: 4px; 
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
}
.post-button1:hover{
    background-color: rgb(246, 246, 246);
    color: #4267B2;
    border-width: 1px;
}
@media only screen and (max-width:700px) {
    .commentbox{
        width: 50%;
        left: 4%;
        min-height: 30px;
        height: auto;
        margin-top: -9%;
    }
    .comment-button{
        left: -20%;
        margin-top: -9%;
        width: fit-content;
    }
}