* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  /*---------top sectiopn--------*/
.top{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 10px #888888;
    height: 50px;
    border: none;
    border-radius: 5x;
    position: sticky;
    z-index: 999;
    top: 0px;
}

/*--------left-------*/
.logo{
    transition: 0.25s ease;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.05);
}
.top-left{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.search{
  width: 50%;
  border: none;
  border-radius: 10px;
  height: 30px;
  padding: 10px;
  margin-top: 3%;
  text-align: justify;
  font-style: normal;
  justify-content: center;
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 20px;
  background-position-x: 2%;
  background-blend-mode: overlay;
  background-color: rgb(235, 230, 230);
  transition: 0.5s ease;
}
.search:hover{
    transform: scale(1.03);
    background-color:rgb(204, 201, 201);
    background-blend-mode: normal;
}
.search:focus{
    outline: 0;
    margin-left: 1%;
    transform: scale(1.05);
} 
/*----------------left-------------*/

/*-----------------middle-----------------*/
.top-middle{
    display: flex;
    flex-direction: row;
    width: 40%;
}
.top-middle span{
    font-size: xx-large;
    padding-left: 25%;
    margin-top: 2%;
    cursor: pointer;
    transition: 0.25s ease;
}
.top-middle span:hover{
    text-decoration: underline;
    color: #4267B2;
}

#top-menu-icon1{
    color: #4267B2;
    padding-left: 0px;
}
#top-menu-icon4{
    padding-right: 0px;
}

/*-----------------middle-------------*/

/*-----------------top-right-----------*/
.top-right{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: end;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
.top-right img{
    margin-top: 2%;
    transition: 0.5s ease;
    transform-origin: center;
    width: 32px;
    height: 32px;
    outline-width: 3px;
    border-radius: 50%;
    outline-color: #4267B2;
    outline-style: solid;
}
.top-right img:hover{
    transform: scale(1.08);
}
.username{
    width: auto;
    margin-left: 2%;
    align-items: center;
    margin-top: 3%;
    font-size: 20px;
    transition: 0.5s ease;
}
.username:hover{
    color:#4267B2;
}
.drop-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  margin-top: 3%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 200;
  border-radius: 5px;
  height: 35px;
  text-align: center;
  background-color: white;
  vertical-align: middle;
}
.drop-content span{
    color: #9e9b9b;
    margin-top: 3%;
    position: relative;   
}
.logout{
    font-weight: 600;
    text-decoration: none;
    position: relative;
    top: -15%;
}
.top-right:hover .drop-content {
    display: block;
  }
/*-------------------top-right---------------*/

/*--------------------top----------------------*/

/*--------------------left---------------------*/
.main{
    display: flex;
    flex-direction: row;
}
.main-left{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #f7f7f7;
    height: 100%;
    margin-right: 2px;
    align-items: center;
    position: sticky;
}
.user-section{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    position: relative;
}
#left-profile-icon{
    width: 50px;
    height: 50px;
    outline-width: 3px;
    border-radius: 50%;
    outline-color: #4267B2;
    outline-style: solid;
    position: relative;
    padding: 2px;
    left:  20%;
    transition: 0.35s ease;
}
#left-profile-icon:hover{
    transform: scale(1.1);
}
.username1{
    padding: 2px;
    width: 80%;
    padding-left: 50px;
    position: relative;
    font-size: 20px;
}
.username3{
    padding: 2px;
    width: 80%;
    margin-top: 3%;
    margin-left: 8%;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease
}
.username3:hover{
    color: #4267B2;
}
.left-list{
   list-style: none;
   justify-content: center;
   padding-left: 10px;
   margin-left: 3%;
   padding: 2px;
   width: 100%;
   top: 10px;
   position: relative;
   display: grid;
}
.list-items{
    background:#b8b4b4 ;
    margin: 5px;
    border-width: 100%;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.30s,ease;
}
.list-items span{
    padding: 5px;
    vertical-align: middle;
    justify-content: center;
    color: #4267B2
}
.list-items:hover{
    background:#9e9b9b ;
}
.shortcut-heading{
    color: grey;
    font-weight: 500;
    padding: 0px 10px;
    cursor: default;
}
.shortcut-list{
   list-style: none;
   justify-content: center;
   padding-left: 10px;
   margin-left: 3%;
   padding: 5px;
   width: 100%;
   display: grid;
}
.shortcuts{
    background:#b8b4b4 ;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    transition: 0.30s,ease;
}
.shortcuts:hover{
    background:#a09d9d ;
    color: black;
}
.shortcuts span{
    padding: 2px;
    color: #4267B2;
    vertical-align: middle;
    width: 50px;
}

/*---------------------left session end-----------------*/
/*------------------middle session start------------*/
.main-middle{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #f7f7f7;
}
.middle-stories{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.story{
    position: relative;
    width: 130px;
}
.middle-stories .story{
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 180px;
    border-radius: 10px;
    padding: 5px;
    opacity: 0.9;
    position: relative;
    transition: 0.35s ease;
}
.middle-stories .story:hover{
    background-color:#0000;
    opacity:1;
    outline: none;
    transform: scale(1.01);
}
.story-dp{
    width: 30px;
    height: 30px;
    outline-width: 3px;
    border-radius: 50%;
    outline-color: #4267B2;
    outline-style: solid;
    position: absolute;
    top: 10%;
    left: 13%;
    opacity: 0.8;
    z-index: 100;
}
#storyusername{
    position: absolute;
    font-weight: 500;
    color: white;
    top: 75%;
    left: 10%;
    opacity: 0.8;
}

#story-arrow{
    font-size: 38px;
    position: relative;
    left: -5%;
    top: 35%;
    color: #888888;
    cursor: pointer;
    transition: 0.35s ease;
}
#story-arrow:hover{
    color: black;
}

/*-------------------story end--------*/
/*-------post section start-----------*/
.post-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 2%;
    left: 5%;
    width: 90%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #888888;
    text-align: center;
    min-height: 90px;
    height: auto;
    transition: 0.25s ease-in;
}
.post{
    display: flex;
    flex-direction: row;
}
.post-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 15%;
    padding: 1px;
    left: 5%;
    cursor: pointer;
    margin-bottom: 2%;
}
.post-options-text{
    font-weight: 600;
    font-size: 18px;
    left: 20%;
    padding-left: 5px;
    margin-left: 1px;
    transition: 0.25s ease;
}
.post-options-text:hover{
    background-color: #cecbcb96;
    border-radius: 5px;
}
.post-text{
    width: 85%;
    background-color: #ebe9e9;
    border: none;
    position: relative;
    border-radius: 10px;
    min-height: 60px;
    height: 50%;
    left: 13%;
    top: 30%;
    font-weight: 500;
    font-size: 18px;
    cursor: text;
    outline: 0px;
    transition: 0.55s ease;
}
.post-text:focus{
    background-color: #d1d1d1;
}
.post-button{
    color: white;
    background-color: #4267B2;
    width: 85%;
    height: 40px;
    position: relative;
    padding: 5px;
    left: 13%;
    top: 15%;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: 00.25s linear;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.4;
    /*display: none;*/
    /*visibility: hidden;*/
}
.post-button:hover{
    background-color: white;
    color: #4267B2;
    outline: solid;
    outline-width: 1px;
}
#live{
    color: #ff3385;
    position: relative;
    font-size: 35px;
    top: 28%;
}
#photolibrary{
    color: #53c653;
    position: relative;
    font-size: 35px;
    top: 28%;
    margin-left: 8px;
}
#feeling{
    color: #ffcc00;
    position: relative;
    font-size: 35px;
    top: 28%;
    margin-left: 8px;
}
.post-dp{
    width: 52px;
    height: 52px;
    outline-width: 3px;
    border-radius: 50%;
    left: 3%;
    margin-top: 1%;
    vertical-align: middle;
    justify-content: center;
    outline-color: #4267B2;
    outline-style: solid;
    /*position: absolute;*/
    position: relative;
    cursor: pointer;
    transition: 00.55s ease;
}
.post-dp:hover{
    transform: scale(1.08);
}
.post-dp1{
    width: 52px;
    height: 52px;
    outline-width: 3px;
    border-radius: 50%;
    left: 2%;
    margin-top: 4%;
    vertical-align: middle;
    justify-content: center;
    outline-color: #4267B2;
    outline-style: solid;
    position: absolute;
    cursor: pointer;
    transition: 00.55s ease;
}
.post-dp1:hover{
    transform: scale(1.08);
}
.posted{
    display: flex;
    flex-direction: column;
    padding: 5px;
    top: 1%;
    left: 5%;
    width: 90%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #888888;
    text-align: center;
    height: auto;
    margin-top: 2%;
}
.posted-image{
    width:100%;
    height: auto;
    position: relative;
}
.post-dp{
    width: 43px;
    height: 43px;
    outline-width: 3px;
    border-radius: 50%;
    outline-color: #4267B2;
    outline-style: solid;
    position: absolute;
    top: 1%;
    left: 2%;
}
.posted-username{
    width: auto;
    position: relative;
    text-align: start;
    left: 10%;
    margin-top: 1%;
    font-size: 20px;
}
.posted-time{
    position: relative;
    text-align: start;
    left: 10%;
    margin-top: -6%;
    font-size: 12px;
}
.post-option{
    color: #888888;
    position: absolute;
    align-items: flex-end;
    font-size: 30px;
    margin-left: 44%;
    top: 5px;
    padding-bottom: 0px;
    cursor: pointer;
    transition: 0.15s linear;
}
.post-option:hover{
    color: #4267B2;
}
.caption{
    position: relative;
    text-align: start;
    padding: 2px;
    font-weight: 500;
}
.like-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-attributes{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: 30px;
    margin-bottom: 2%;
}
.post-attributes:hover{
    background-color: #88888849;
    border-radius: 10px;
}
.post-attributes i{
    color: #585858;
    font-size: 23px;
    left: 5%;
}
.far .fa-thumbs-up{
    transition: 0.35s ease;
}
.fas .fa-thumbs-up{
    transition: 0.35s ease;
}

.post-attributes span{
    font-weight: 600;
    color: #585858;
    align-items: center;
    position: relative;
    left: 5%;
    font-size: 15px;
}

/*----------------------*/
.main-right{
    z-index: 50;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 1px;
    background-color: #f7f7f7;
}
.right-page{
    display: flex;
    flex-direction: column;
}
.right-page-name{
    display: flex;
    flex-direction: row;
}
.notification{
    display: flex;
    flex-direction: row;
}
.contacts{
    display: flex;
    flex-direction: column;
}
#contact-profile-icon{
    width: 45px;
    height: 45px;
    outline-width: 3px;
    border-radius: 50%;
    outline-color: #4267B2;
    outline-style: solid;
    margin-top: 2%;
    margin-left: 5%;
    vertical-align: middle;
    justify-content: center;
}
#right-page-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    outline-style: solid;
    outline-color: #4267B2;
    left: 5%;
    cursor: pointer;
}
.page-name{
    color: #585858;
    margin-left: 3%;
    cursor: pointer;
}
.username1{
    font-size: 20px;
    position: relative;
    margin-left: 8%;
    cursor: pointer;
}.notification{
    position: relative;
    left: 15%;
    color: #585858;
}
.notification span{
    left: 5%;
    width: 80%;
    cursor: pointer;
}
.notification i{
    font-size: 20px;
    padding-right: 3%;
    cursor: pointer;
}
.contacts-pro{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: 0.25s linear;
}
.contacts-pro:hover{
    background-color: #5858584d;
    border-radius: 10px;
}
.username2{
    position: relative;
    margin-left: 5%;
    align-items: center;
    vertical-align: middle;
    top: -10px;
    cursor: pointer;
}
#online-green{
    scale: 1.5;
    color: rgb(51, 255, 0);
    right: 5%;
    margin-top: 15px;
    text-align: right;
    position: absolute;
}




@media only screen and (max-width:700px) {

    .username{
        margin-top: 4%;
    }
    .logo{
        width: 2rem;
        height: 2rem;
        margin-top: 3%;
    }
    .top-middle span{
        padding-left: 10%;
    }
    .search{
        margin-top: 4%;
    }
    .post-option-icon ,.post-options-text{
        display: none;
    }
    .post-attributes{
        width: 10%;
    }
    .username{
        display: none;
    }
    .top-middle span{
        padding-left:20%;
    }
    .right-dp{
        vertical-align: middle;
    }
    .posted-time{
        left: 25%;
        font-size: 10px;
        margin-top: -15%;
    }
    .main-left,.main-right{
        display: none;
    }
    .main-middle{
        width: 100%;
    }
    .middle-stories{
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .middle-stories::-webkit-scrollbar {
        display: none;
    }
    .post{
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .post-button{
        margin-bottom: 2%;
        margin-left: 1%;
        width: 85%;
    }
    .caption{
     margin-top: 5%;   
    }
    .posted-time{
        align-items: center;
        left: 13%;
        margin-top: -9%;
    }
    .posted-username{
        margin-left: 3%;
    }
    .post-dp{
        width: 35px;
        height: 35px;
    }
    .post-option{
        right: 1%;
    }
    .like-section{
        width: 100%;
    }
    .post-attributes{
        padding: 0px;
        margin-right: 5%;
        margin-left: 5%;
    }
    }